body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(225, 122, 175);
}

.container {
    text-align: center;
    position: relative;
}

.header_text {
    margin: 10px;
    color: #333;
}

.gif_container img {
    max-width: 100%;
    height: auto;
}

.buttons {
    margin-top: 20px;
    position: relative;
    height: 100px;
}

.btn {
    padding: 20px 40px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Courier New', Courier, monospace; /* Change the font of buttons */
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

#noButton {
    position: absolute;
    background-color: #FF6347;
}

#noButton:hover {
    background-color: #FF4500;
}
